a {
    background-color: aqua;
    padding: 10px 20px;
    display: block;
    margin: 0 auto;
    width: 145px;
    height: 160px;
    border-radius: 120px;
}
a{
    animation-name: animation1;
    animation-duration: 2s;
}
@keyframes animation1{
    0%  {transform: scale(0.1, 0.1); opacity: 0;}
    100% {transform: scale(1, 1);opacity: 1;}
}