a {
    background-color: aqua;
    padding: 10px 20px;
    display: block;
    margin: 0 auto;
    width: 145px;
    height: 160px;
    border-radius: 120px;
}
a{
    animation-name: animation1;
    animation-duration: 2s;
}
@keyframes animation1{
    0%  {padding: 0px; width: 0; height: 0;}
    75%  {width: 145px; height: 160px;} 
    100% {width: 125px; height: 150px;}
}